{% extends "base.html" %}
{% load static %}

{% block title %} Change Password {% endblock %} 

{% block content %}

    {% include 'includes/header_black.html' %}

    <main>
        <div class="section section-lg pt-5 pt-md-7 bg-gray-200">
            <div class="container">
                <div class="row pt-5 pt-md-0">
                    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                        <div class="card border-gray-300 p-2">
                            <div class="card-header bg-white border-0 text-center d-flex flex-row flex-lg-column align-items-center justify-content-center px-1 px-lg-4">
                                <div class="profile-thumbnail dashboard-avatar mx-lg-auto me-3">
                                    <img src="{{ user.profile.get_avatar }}" class="card-img-top rounded-circle border-white" alt="{{ user.username }}">
                                </div>
                                <span class="h5 my-0 my-lg-3 me-3 me-lg-0">
                                    Hi, {{ user.username }}
                                </span>
                                <a href="{% url "logout" %}" class="btn btn-gray-300 btn-xs">
                                    <span class="me-2">
                                        <span class="fas fa-sign-out-alt"></span>
                                    </span>
                                    Sign Out
                                </a>
                            </div>
                            <div class="card-body p-2 d-none d-lg-block">
                                <div class="list-group dashboard-menu list-group-sm">
                                    <a href="{% url 'profile' user.id %}" class="d-flex list-group-item border-0 list-group-item-action active">
                                        Profile
                                        <span class="icon icon-xs ms-auto">
                                            <span class="fas fa-chevron-right">
                                            </span>
                                        </span>
                                    </a>
                                    <a href="{% url 'password_change' %}" class="d-flex list-group-item border-0 list-group-item-action">
                                        Change Password
                                        <span class="icon icon-xs ms-auto">
                                            <span class="fas fa-chevron-right"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-lg-none">
                        <div class="card bg-white border-gray-300 mb-4 mb-lg-5">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-10 d-flex">
                                        <a href="" class="list-group-item list-group-item-action border-0 text-center me-2">
                                            Profile
                                        </a>
                                        <a href="{% url 'password_change' %}" class="list-group-item list-group-item-action border-0 text-center me-2 active">
                                            Change Password
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="card border-gray-300 p-0 p-md-4 mb-4">
                            <div class="card-body">
                                <h3 class="h5 mb-0">Change Password</h3>
                                <form method="post" action="{% url 'password_change' %}"  class="form mt-5" autocomplete="off" novalidate>
                                    {% csrf_token %}
                                    <div class="mb-4">
                                        <label for="inputPasswordOld">Current Password</label>
                                        <input type="password" class="form-control" id="old_password" name="old_password" required autofocus>
                                    </div>
                                    <div class="mb-4">
                                        <label for="inputPasswordNew">New Password</label>
                                        <input type="password" class="form-control" id="new_password1" name="new_password1" required autofocus>
                                        <span class="form-text small text-muted">
                                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                                        </span>
                                    </div>
                                    <div class="mb-4">
                                        <label for="inputPasswordNewVerify">Verify</label>
                                        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                                        <span class="form-text small text-muted">
                                             To confirm, type the new password again.
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-dark">
                                            Save
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}