{% extends "base-fullscreen.html" %}
{% load static %}

{% block title %}Server Error - RCM Engineering Team{% endblock %}

{% block content %}

    <main>
        <section class="section p-0 min-vh-100 d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col col-12 col-lg-5 text-dark order-2 order-lg-1">
                        <div>
                            <h1 class="display-2">
                                500 server <span class="text-primary">error</span>
                            </h1>
                            <p class="lead my-4">
                                Something has went seriously wrong. We should be back by the time you finish your coffee.
                            </p>
                            <a class="btn btn-primary animate-hover" href="{% url "home" %}">
                                <span class="fas fa-chevron-left me-3 ps-2 animate-left-3"></span>
                                Go back home
                            </a>
                        </div>
                    </div>
                    <div class="col col-12 col-sm-10 col-md-8 col-lg-6 my-6 my-lg-0 order-1 order-lg-2">
                        <img class="img-fluid w-75" src="{% static 'img/server-error.svg' %}" alt="people illustration">
                        {% comment %} <img class="img-fluid w-75" src="https://demo.themesberg.com/pixel-pro/v5/assets/img/illustrations/server-error.svg" alt="people illustration"> {% endcomment %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}