{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us - RCM Engineering Team{% endblock %}

{% block content %}

    {% include "includes/header.html" %}

    <main>
        <section class="section section-header pb-11 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8 text-center">
                        <h1 class="display-2 mb-3">Contact RCM Engineering Team</h1>
                        <p class="lead">Get in touch with us to collaborate, ask questions, or share your insights.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="section py-0">
                <div class="container mt-n10">
                    <div class="row">
                        <div class="col-12">
                            <iframe class="map rounded" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27214.532585809604!2d34.42787568545293!3d31.501725288257997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14fd7f054e542767%3A0x7ff98dc913046392!2sGaza!5e0!3m2!1sen!2s!4v1696227935975!5m2!1sen!2s">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg pt-6">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-lg-8">
                        <div class="card border-0 p-2 p-md-3 p-lg-5">
                            <div class="card-header bg-white border-0 text-center">
                                <h2>Get in Touch with Us</h2>
                                <p>We're here to listen and connect with fellow engineering enthusiasts.</p>
                            </div>
                            <div class="card-body px-0 pt-0">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="mb-4">
                                        <label for="name">Your Name</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span
                                                    class="fas fa-user-circle"></span></span>
                                            <input type="text" class="form-control" placeholder="e.g. John Doe" id="name"
                                                name="name"  maxlength="100" required="">
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="email">Your Email</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon4"><span
                                                    class="fas fa-envelope"></span></span>
                                            <input type="email" class="form-control" placeholder="example@company.com" id="email"
                                                name="email"  maxlength="125" required="True">
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="message">Your Message</label>
                                        <textarea placeholder="Your message" class="form-control" id="message" name="message"
                                            rows="4" maxlength="255" required=""></textarea>
                                    </div>
                                    <div class="d-grid">
                                        <button type="submit" class="btn rounded btn-secondary">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}