{% extends 'base.html' %}

{% block title %} Privacy Policy - RCM Engineering Team{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% include "includes/header.html" %}

    <main>
        <section class="section-header bg-primary text-white pb-9 pb-lg-12 mb-4 mb-lg-6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Legal center</h1>
                        <p class="lead">One place for our legal documentation and policies</p>
                    </div>
                </div>
            </div>
            <div class="pattern bottom"></div>
        </section>
        <div class="section section-lg pt-0">
            <div class="container mt-n8 mt-lg-n12 z-2">
                <div class="row justify-content-center">
                    <div class="col col-md-10">
                        <div class="accordion bg-white rounded" id="accordionExample1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">What is RCM Engineering Team?</button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <p>The RCM Engineering Team is a group of passionate engineering students committed
                                            to enhancing the learning experience of fellow students in the field of
                                            engineering. Our mission is to provide valuable educational resources, study
                                            materials, and workshops to support the academic journey of aspiring
                                            engineers. We believe that accessible and comprehensive educational materials
                                            can empower students and help them succeed in their studies.</p>
                                        <p>Our team is dedicated to delivering high-quality, student-centric content that
                                            simplifies complex engineering concepts. We cover a wide range of engineering
                                            topics, ensuring that our resources cater to various engineering disciplines.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">How can I use RCM Engineering Team's resources?</button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <p>You can use RCM Engineering Team's resources to enhance your engineering
                                            knowledge and academic performance. Our educational materials, including notes,
                                            tutorials, and guides, are designed to help you grasp challenging concepts and
                                            excel in your coursework.</p>
                                        <p>We also organize interactive workshops and educational events to provide
                                            hands-on learning experiences and practical knowledge.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">How can I get involved with RCM Engineering Team?</button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                    data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <p>If you're an engineering student passionate about sharing knowledge and helping
                                            fellow students, you can join the RCM Engineering Team. We welcome students
                                            with diverse backgrounds and expertise. Together, we can make engineering
                                            education more accessible and engaging.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingLast"><button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseLast"
                                        aria-expanded="false" aria-controls="collapseLast">Contact Us</button></h2>
                                <div id="collapseLast" class="accordion-collapse collapse" aria-labelledby="headingLast"
                                    data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <p>If you have any questions or need assistance, feel free to contact us through
                                            our <a href="">Contact Us</a> page.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section section-lg pt-0 line-bottom-light">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 text-center px-4 mb-5">
                        <div class="icon icon-sm icon-shape icon-shape-secondary rounded mb-4"><span
                                class="fas fa-envelope-open-text"></span></div>
                        <h5 class="mb-3">Email us</h5>
                        <p class="px-5 px-sm-7 px-lg-0">Email us for general queries, including marketing and partnership
                            opportunities.</p><a class="fw-bold text-primary"
                            href="mailto:rcm.eng.7@gmail.com">rcm.eng.7@gmail.com</a>
                    </div>
                    <div class="col-12 col-lg-4 text-center px-4 mb-5">
                        <div class="icon icon-sm icon-shape icon-shape-secondary rounded mb-4"><span
                                class="fas fa-phone-volume"></span></div>
                        <h5 class="mb-3">Call us</h5>
                        <p class="px-5 px-sm-7 px-lg-0">Call us to speak to a member of our team. We are always happy to
                            help you.</p><a class="fw-bold text-primary" href="">+970 (599) 243513</a>
                    </div>
                    <div class="col-12 col-lg-4 text-center px-4">
                        <div class="icon icon-sm icon-shape icon-shape-secondary rounded mb-4">
                            <span class="fab fa-telegram-plane"></span>
                        </div>
                        <h5 class="mb-3">
                            Telegram
                        </h5>
                        <p class="px-5 px-sm-7 px-lg-0">
                            Join our Telegram channel to chat with us and stay updated with the latest news.
                        </p>
                        <a class="btn btn-sm btn-outline-primary" href="https://t.me/rcm_eng_gaza" target="_blank">
                            Join our Telegram
                            <span class="fas fa-long-arrow-alt-right ms-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}