{% load static %}
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark headroom--not-bottom headroom--pinned headroom--top">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="{% url "home" %}">
                    <img class="navbar-brand-dark" src="{% static "img/rcm_remove_bg.jpg" %}" alt="Logo light">
                    <img class="navbar-brand-light" src="{% static "img/rcm_remove_bg.jpg" %}" alt="Logo dark">
                </a>
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="{% url "home" %}">
                                    <img src="{% static "img/rcm_remove_bg.jpg" %}" alt="Themesberg logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation">
                                </a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="supportDropdown" aria-expanded="false">
                                Engineering Summaries
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
                                <div class="col-auto px-0">
                                    <div class="list-group list-group-flush">
                                        <a href="{% url 'summary_list' %}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="d-block font-small fw-bold mb-0">
                                                All&nbsp;Engineering&nbsp;Summaries
                                            </span>
                                        </a>
                                        <a href="{% url 'filter_summaries_by_category' 'Mechanical' %}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="d-block font-small fw-bold mb-0">
                                                Mechanical&nbsp;Engineering
                                            </span>
                                        </a>
                                        <a href="{% url 'filter_summaries_by_category' 'Electrical' %}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="d-block font-small fw-bold mb-0">
                                                Electrical&nbsp;Engineering
                                            </span>
                                        </a>
                                        <a href="{% url 'filter_summaries_by_category' 'Civil' %}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="d-block font-small fw-bold mb-0">
                                                Civil&nbsp;Engineering
                                            </span>
                                        </a>
                                        <a href="{% url 'filter_summaries_by_category' 'Computer' %}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="d-block font-small fw-bold mb-0">
                                                Computer&nbsp;Engineering
                                            </span>
                                        </a>
                                        <a href="{% url 'filter_summaries_by_category' 'Other' %}" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="d-block font-small fw-bold mb-0">
                                                Other
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="{% url "team_list" %}" class="nav-link ">
                                Team
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="{% url "post_list" %}" class="nav-link ">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="{% url "contact_us" %}" class="nav-link ">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' user.id %}" class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3">
                            <span class="fas fa-user mr-2"></span>Profile
                        </a>
                        <a href="{% url 'logout' %}" class="btn btn-tertiary">
                            <span class="fas fa-sign-out-alt mr-2"></span>Log Out
                        </a>
                        <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3">
                            <span class="fas fa-sign-in-alt mr-2"></span>Log In
                        </a>
                        <a href="{% url 'signup' %}" class="btn btn-tertiary">
                            <span class="fas fa-user-plus mr-2"></span>Sign Up
                        </a>
                        <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>