{% load static %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/buttons.js' %}"></script>
    <script src="{% static 'js/headroom.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/pixel.js' %}"></script>
    {% comment %} <script src="{% static 'js/chartist-plugin-tooltip.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/chartist.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/countUp.umd.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/datepicker.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/glide.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/jarallax.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/notify.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/notyf.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/nouislider.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/on-screen.umd.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/pageScript.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/popper.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/simplebar.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/smooth-scroll.polyfills.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/vivus.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/volt.min.js' %}"></script> {% endcomment %}
    <script>
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
        function toggleBackToTopButton() {
            var backToTopButton = document.getElementById("back-to-top");
            if (window.scrollY > 100) {
                backToTopButton.style.display = "block";
            } else {
                backToTopButton.style.display = "none";
            }
        }
        window.addEventListener("scroll", toggleBackToTopButton);
        window.addEventListener("load", toggleBackToTopButton);
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var navbarToggle = document.querySelector(".navbar-toggler");
            var navbarCollapse = document.querySelector(".navbar-collapse");
            navbarToggle.addEventListener("click", function () {
                navbarCollapse.classList.toggle("show");
            });
        });
    </script>
    <script>
        function checkFile(input) {
            const file = input.files[0];
            if (file) {
                const fileType = file.type;
                const fileSize = file.size / 1024; // Size in kilobytes
                let errorMessage = "";
                if (fileType !== 'image/jpeg' && fileType !== 'image/png') {
                    errorMessage = "Only JPG and PNG file types are allowed.";
                } else if (fileSize > 800) {
                    errorMessage = "File size exceeds the limit of 800 KB.";
                }
                if (errorMessage) {
                    const alertContainer = document.createElement("div");
                    alertContainer.className = "alert alert-danger alert-dismissible fade show";
                    alertContainer.setAttribute("role", "alert");
                    alertContainer.innerHTML = `<i class="fas fa-exclamation-triangle"></i> ${errorMessage}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
                    document.getElementById("fileInfo").innerHTML = "";
                    document.getElementById("fileInfo").appendChild(alertContainer);
                    input.value = "";
                } else {
                    const fileInfo = `File name: ${file.name}<br>File size: ${fileSize.toFixed(2)} KB<br>File type: ${fileType}`;
                    document.getElementById("fileInfo").innerHTML = fileInfo;
                }
            }
        }
    </script>