{% extends "base.html" %}
{% load static %}

{% block title %}
  Post: {{ post.title }}
{% endblock title %}

{% block content %}

  {% include 'includes/header_black.html' %}
  
  <div class="container mt-5" style="margin-right: 100px;">
    <br> <br>
    <br> <br>
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'post_list' %}">Blogs</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-lg-12">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">
              Posted on {{ post.publish_date|date:"F d, Y" }} by <a href="{% url "profile" post.author.id %}" >{{ post.author.username }}</a>
            </div>
            <!-- Post categories-->
            <a class="badge bg-secondary text-decoration-none link-light">{{ post.category.name }}</a>
          </header>
          <!-- Preview image figure-->
          <figure class="">
            <img class="img-fluid rounded" style="max-width: 1500px; max-height: 350px;" src="{{ post.image.url }}" alt="{{ post.title }}" />
          </figure>
          <!-- Post content-->
          <section class="mb-5">
            <p class="fs-5 mb-4">{{ post.content }}</p>
          </section>
        </article>
        <!-- Comments section-->
        <section class="mb-5">
          <div class="card bg-light">
            <div class="card-body">
              <!-- Comment form-->
              <form method="POST" action="{% url 'add_comment' post.id %}" class="mb-4">
                {% csrf_token %}
                <textarea class="form-control" name="body" rows="5" placeholder="Join the discussion and leave a comment!"></textarea>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
              </form>
              <!-- Comments -->
              {% if comments %}
                {% for comment in comments %}
                  <!-- Single comment-->
                  <div class="d-flex mb-4">
                    <div class="flex-shrink-0">
                      <img class="rounded-circle" src="{{ comment.user_id.profile.avatar.url }}" width="50" />&nbsp; 
                    </div>
                    <div class="ms-3">
                      <div clas="d-flex justify-content-between w-100">
                        <a href="{% url 'profile' comment.user_id.id %}" class="comment-author d-block" >
                          <span class="name font-weight-bold">{{ comment.user_id.username }}</span>
                        </a>
                        <span class="d-block">{{ comment.created_at|date:"h:i A, F d" }}</span><br>
                      </div>
                      <div class="comment-body"> {{ comment.body }}</div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <p>No comments yet.</p>
              {% endif %}
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}

